<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aniversário</title>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> <!--icone-->

    <link rel="stylesheet" href="/assets/css/index.css">

</head>
<body>

    <div id="login" class="gradient-background">

        <form id="form_login">
            <label>Login de Rede</label>
            <input type="text" id="input_login" class="input_ativo" placeholder="Login de rede ou Email" name="login_rede" required>

            <label>Senha</label>
            <input type="password" id="input_senha" class="input_ativo" placeholder="Digite a senha" name="senha_rede" required>
            <div class="eye-btn"><i class="uil uil-eye-slash"></i></div>

            <button id="botao_login" type="button">Botao</button>
        </form>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-esm-min.js" type="module"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css"/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

<script src="assets/js/index.js"></script>
</html>